---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 70%;
    padding-bottom: 20px;
    margin-top: 20px;
    margin-right: 20px;
  }

.center-image
{
    margin: 0 auto;
    display: block;
}